In [4]:
import pandas as pd

pd.read_csv('data/sales.csv', sep = ',')

,+BDAEQARCBDgEOgRDBDs-,01.06.2020,01.07.2020,01.08.2020,01.09.2020,01.10.2020,01.11.2020,01.12.2020,01.01.2021,01.02.2021,...,01.11.2022,01.12.2022,01.01.2023,01.02.2023,01.03.2023,01.04.2023,01.05.2023,01.06.2023,01.07.2023,01.08.2023
0,1,0,0,1,0,0,2,2,9,40,...,0,0,17,17,30,0,3,5,9,0
1,2,6,1,0,0,0,0,0,0,0,...,1,0,2,0,0,0,5,0,2,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,4,0
3,4,1,0,0,0,0,1,1,0,2,...,1,0,1,0,0,0,0,0,0,3
4,5,13,18,14,15,13,4,7,7,3,...,1,1,6,7,5,3,7,16,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,2,8,6,9,4,6,11,1,4,...,1,0,2,4,2,2,0,0,5,0
96,97,8,8,6,32,2,17,4,10,12,...,2,10,5,4,8,4,2,22,10,2
97,98,5,2,2,4,4,7,8,2,8,...,10,4,7,10,9,4,5,2,2,0
98,99,25,10,10,6,3,21,12,10,10,...,6,15,10,0,0,5,10,5,5,7
99,100,1,2,2,1,2,3,2,2,1,...,0,1,0,1,2,1,2,0,2,0